<!doctype html>
<html>
  <head>
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/fileupload.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <script>
      $(document).ready(function() {
        $("#dialog").dialog({ autoOpen: false, modal: true,
           dialogClass: "no-close",
           close: function( event, ui ) { $("#file-picker").val(''); },
           buttons: {
            "OK": function() {
                 $( this ).dialog("close");
            }
           }
        });

        $("#dialog-confirm").dialog({ autoOpen: false, modal: true,
           dialogClass: "no-close",
           closeOnEscape: false, 
           buttons: {
            "确认": function() {
                 $( this ).dialog("close");
            },
            "取消": function() {
                 $( this ).dialog("close");
                 $("#file-picker").val('');
            }
           }
        });

        var instance_url = window.atob('{{ instance_url }}');
        var request_json = '{{ request_json | safe }}';
        page_init(request_json, instance_url);

        $("#file-picker").on("change", function() {
          set_pending_file(this.files[0]);
        });
        $("#upload-button").on("click", function(e) {
          e.preventDefault();
          upload();
        });
        $("#cancel-button").on("click", function(e) {
          e.preventDefault();
          cancel();
        });

      });
    </script>

    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <input id="token" name="token" value="" type="hidden">
      <input id="sobject" name="sobject" value="/" type="hidden">
      <input id="return" name="return" value="/" type="hidden">
      <input id="cntr_id" name="pid" value="" type="hidden">
      <input id="cntr_name" name="cntr_name" value="" type="hidden">

      <div class="mytitle"><h3>合同附件上传</h3></div>
      <div class="mybody">
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <th><label for="cntr_name">合同名称</label></th>
            <td><span id="contract"></span></td>
          </tr>
          <tr>
            <th><label for="attachment_name">附件名称</label></th>
            <td><input id="attachment_name" type="text" name="attachment_name"/></td>
          </tr>
          <tr>
            <th><label for="file-picker">附件</label></th>
            <td><input id="file-picker" type="file" name="filename"/></td>
          </tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <input id="upload-button" type="submit" name="upload" value="上传"/>
              <input id="cancel-button" type="submit" name="cancel" value="取消"/>
            </td>
          </tr>
        </table>
      </div>
    </form>

    <div class="panel panel-default">
    <fieldset id="progress" style="display: none">
      <legend class="mytitle"><strong>上传进度</strong></legend>
      <div class="progress-trough">
        <div id="progress-bar" class="progress-bar">0%</div>
      </div>
    </fieldset>
    </div>

    <div class="panel panel-default">
    <fieldset>
      <legend class="mytitle"><strong>上传限制</strong></legend>
        <div>
            <ul>
                <li>文件限制最大为<strong>10M</strong>，请确认上传文件小于10M</li>
                <li>支持上传的文件名为<strong>DOC/DOCX，PDF，JPG/JPEG, GIF, PNG, XLS/XLSX</strong>格式</li>
            </ul>
        </div>
    </fieldset>
    </div>

    <div id="dialog" title="无效文件">
      <p id="dialogtext"></p>
    </div>
    <div id="dialog-confirm" title="确认上传?">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>文件太大，传输过程可能会很慢，确认上传?</p>
    </div>
  </body>
</html>
